## WIP ovpn file that is sent to clients that want to connect


port {{ vpn.public_port }} # or any other port you want to use
dev tun # VPN tunnel layer 3
remote {{ vpn.url }}
remote-random # Pick random IP address from A record (if multiple)
proto {{ vpn.protocol }}-client # VPN over TCP
tls-client # Use TLS
#auth-user-pass
#route-method exe
#redirect-gateway
#tun-mtu 1500
#tun-mtu-extra 32
#mssfix 1450
comp-lzo  # Compression
keepalive 10 120
pull # Pull settings from servers (DNS etc.)
verb 4 # Logging verbosity
<ca>
# TODO
</ca>
<cert>
# TODO
</cert>
<key>
# TODO
</key>
<tls-auth>
#
# 2048 b
</tls-auth>
key-direction 1 # Who starts to the TLS using the TLS auth key.