[ ca ]
default_ca = hyperion

[ crl_ext ]
# issuerAltName=issuer:copy  #this would copy the issuer name to altname
authorityKeyIdentifier=keyid:always

[ hyperion ]
new_certs_dir = {{ ca.path }}/certs
unique_subject = no
certificate = {{ ca.path }}/ca.crt
database = {{ ca.path }}/certindex
private_key = {{ ca.path }}/ca.key
serial = {{ ca.path }}/ca.srl
default_days = 1095
default_md = sha256
x509_extensions = hyperion_extensions
crlnumber = {{ ca.path }}/crlnumber
default_crl_days = 1095
policy = hyperion_policy

[ hyperion_policy ]
commonName = supplied
stateOrProvinceName = supplied
countryName = supplied
emailAddress = optional
organizationName = supplied
organizationalUnitName = optional

[ hyperion_extensions ]
basicConstraints = CA:false
subjectKeyIdentifier = hash
authorityKeyIdentifier = keyid:always
keyUsage = digitalSignature,keyEncipherment
extendedKeyUsage = clientAuth,serverAuth