#version=DEVEL
# System authorization information
auth --enableshadow --passalgo=sha512
# Use CDROM installation media
cdrom
# Use graphical install
graphical
# Run the Setup Agent on first boot
firstboot --enable
ignoredisk --only-use=nvme0n1
# Keyboard layouts
keyboard --vckeymap=us --xlayouts='us'
# System language
lang en_US.UTF-8

# Network information
network  --bootproto=static --device=enp5s0 --gateway=192.168.3.1 --ip=192.168.3.9 --nameserver=8.8.8.8,8.8.4.4 --netmask=255.255.255.0 --ipv6=auto --activate
network  --hostname=hyperion.local

# Root password
rootpw --iscrypted ENCRYPTED_PASSWORD
# System services
services --disabled="chronyd"
# System timezone
timezone Europe/Amsterdam --isUtc --nontp
user --groups=wheel --name=admin --password=ENCRYPTED_PASSWORD --iscrypted --gecos="BDR Admin"
# System bootloader configuration
bootloader --append=" crashkernel=auto" --location=mbr --boot-drive=nvme0n1
# Partition clearing information
clearpart --all --initlabel --drives=nvme0n1
# Disk partitioning information
part /boot --fstype="xfs" --ondisk=nvme0n1 --size=1024
part /boot/efi --fstype="efi" --ondisk=nvme0n1 --size=200 --fsoptions="umask=0077,shortname=winnt"
part pv.256 --fstype="lvmpv" --ondisk=nvme0n1 --size=237250
volgroup centos --pesize=4096 pv.256
logvol /home  --fstype="xfs" --size=211648 --name=home --vgname=centos
logvol /  --fstype="xfs" --size=25600 --name=root --vgname=centos

%packages
@^minimal
@core
kexec-tools

%end

%addon com_redhat_kdump --enable --reserve-mb='auto'

%end

%anaconda
pwpolicy root --minlen=6 --minquality=1 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy luks --minlen=6 --minquality=1 --notstrict --nochanges --notempty
%end
