apiVersion: v1
clusters:
- cluster:
    certificate-authority-data: {{ ca_cert_b64 }}
    server: https://{{ vpn.hyperion_ip }}:6443
  name: bdr_hyperion
contexts:
- context:
    cluster: bdr_hyperion
    user: {{ user.name }}
  name: {{ user.name }}@bdr_hyperion
current-context: {{ user.name }}@bdr_hyperion
kind: Config
preferences: {}
users:
- name: {{ user.name }}
  user:
    client-certificate-data: {{ user_cert_b64 }}
    client-key-data: {{ user_key_b64 }}
